<% note = locals[:note] %>

<div class="row js-action-buttons">
  <div class="col s12 horizontal js-note--action-buttons">
    <% if note.update? %>
      <%= link_to(edit_note_path(note), class: 'btn-floating blue') do %>
        <i class="material-icons">edit</i>
      <% end %>
    <% end %>

    <% if note.delete? %>
      <a class="btn-floating js-note-action-btn grey" data-action=".js-delete-action">
        <i class="material-icons">delete</i>
      </a>
    <% end %>

    <% if note.update? %>
      <a class="btn-floating js-note-action-btn green" data-action=".js-tag-action">
        <i class="material-icons">label</i>
      </a>
    <% end %>

    <% if note.share? %>
      <a href="#!" class="btn-floating js-note-action-btn red" data-action=".js-share-action">
        <i class="material-icons">share</i>
      </a>
    <% end %>
  </div>
</div>

<div class="row hide js-delete-action">
  <%= form_for note, html: { class: 'col s12' }, method: :delete do |f| %>
    <p>Are you sure you want to delete this note?</p>
    <%= f.submit 'Yes', class: 'btn' %>
    <%= f.button 'No', class: 'btn grey js-cancel-button' %>
  <% end %>
</div>

<div class="row hide js-tag-action">
  <div class="chips" data-note-id="<%= note.id %>"></div>
  <input type="button" class="btn grey js-cancel-button" value="Ok"/>
</div>

<%= render 'shared/sharing_section', locals: { note: note } %>
